.nav-con {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #42404d;
  min-width: 400px;
  position: sticky;
  top: 0;
}
.nav-menu {
  list-style-type: none;
  display: flex;
}
.nav-item {
  text-decoration: none;
}
.nav-items {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.logoutbtn {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 6px;
  padding: 4px 26px 4px 26px;
  border: 1px solid #ffbe38;
  background: transparent;
  color: #ffbe38;
}
.title {
  margin-top: 0px;
  color: #ffbe38;
}
@media (min-width: 768px) {
  .nav-con-sm {
    display: none;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 18px;
    margin-top: 8px;
  }
  .nav-menu {
    display: none;
  }
}
.hamburger {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.close-btn {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.nav-sm-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.popup-content {
  height: 100vh;
  width: 100vw;
  margin: 0px !important;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/monthly-emojis-bg.png');
  background-size: cover;
  padding: 0px;
  border: none;
  min-width: 400px;
  min-height: 100%;
}
.pop-head {
  background-color: #42404d;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.nav-items-sm {
  color: white;
  margin: 20px 15px 10px 12px;
}
.logoutbtn-sm {
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 6px;
  padding: 4px 26px 4px 26px;
  border: 1px solid #ffbe38;
  background: transparent;
  color: #ffbe38;
}
